.card {
    background-color: #FFF;
    border-radius: 7px;
}

.thumbnail {
    height: 250px;
    object-fit: cover;
}

.noThumbnail {
    display: flex;
    justify-content: center;
    height: 250px;
    object-fit: cover;
    background-color: black;
}

.noThumbnailText {
    margin: auto 0;
    text-align: center;
    font-family: "Share Tech Mono", sans-serif;
    font-size: 40px;
    color: white;
}

.a {
    text-decoration-line: none;
    text-decoration: none;
}

.titulo {
    margin: 5px 10px;
    font-weight: 800;
}

.estatistica {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    margin: 5px 20px;
}

.h3 {
    width: fit-content;
    height: fit-content;
}

/*Mobile*/
@media (max-width: 500px) {

    .card {
        width: 100%;
    }
    
    .thumbnail {
        width: 100%;
    }
    
    .noThumbnail {
        width: 100%;
    }


    .autor {
        text-align: center;
        font-family: "Share Tech Mono", sans-serif;
        font-size: 1.6rem;
    }

    .titulo {
        min-height: 100px;
        text-align: center;
        font-size: 2rem;
    }


    .h3 {
        font-size: 1.2rem;
    }
}


/*Browser*/
@media (min-width: 501px) {

    .card {
        width: 400px;
        cursor: pointer;
    }

    .card:hover {
        box-shadow: 0 0 5px 0px #fd5d93;
    }
    
    .thumbnail {
        width: 400px;
    }
    
    .noThumbnail {
        width: 400px;
    }

    .autor {
        text-align: center;
        font-family: "Share Tech Mono", sans-serif;
        font-size: 1.6rem;
    }

    .titulo {
        min-height: 175px;
        text-align: start;
        font-size: 2.6rem;
    }

    .h3 {
        font-size: 1.6rem;
    }
}
