.background {
    width: 100%;
    height: 100%;
    background-color: #1e1e2e;
    overflow: hidden;
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    padding-top: 87px;
    height: 100vh;

    overflow-y: scroll;
}

.div::-webkit-scrollbar {
    height: 95%;
}

.div::-webkit-scrollbar-thumb {
    background-color: #fd5d93;
}

/*Mobile*/
@media (max-width: 500px) {
    
    .div::-webkit-scrollbar {
        width: 5px;
        background-color: #3a3a58;
    }
    
}

/*Browser*/
@media (min-width: 501px) {
    
    .background {        
        padding-bottom: 0px;
    }

    .div::-webkit-scrollbar {
        width: 7px;
    }
}

/*Para evitar a barra de pesquisa desaparecer, quando se faz transição entre viewports*/
@media (min-width: 500px) AND (max-width: 655px) {

    .div {
        padding-top: 170px;
    }
}

/*Para evitar a barra de pesquisa desaparecer, quando se faz transição entre viewports*/
@media (min-width: 656px) AND (max-width: 920px) {
    
    .div {
        padding-top: 130px;
    }
}