@media (max-width: 500px) {
    .background {
        width: 100%;
        height: 100%;
        background-color: #1e1e2e;

        overflow: hidden;
    }

    .div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        padding-top: 87px;
        height: 100vh;

        overflow-y: scroll;
    }

    .div::-webkit-scrollbar {
        width: 5px;
        height: 95%;
    }
    
    .div::-webkit-scrollbar-thumb {
        background-color: #fd5d93;
    }
}

@media (min-width: 501px) {
    .background {
        width: 100%;
        height: 100%;
        
        padding-bottom: 0px;
        
        background-color: #1e1e2e;

        overflow: hidden;
    }

    .div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        padding-top: 87px;
        height: 100vh;

        overflow-y: scroll;
    }

    .div::-webkit-scrollbar {
        width: 5px;
        height: 95%;
    }
    
    .div::-webkit-scrollbar-thumb {
        background-color: #fd5d93;
    }
}

/*Para evitar a barra de pesquisa desaparecer, quando se faz transição entre viewports*/
@media (min-width: 500px) AND (max-width: 655px) {

    .div {
        padding-top: 170px;
    }
}

/*Para evitar a barra de pesquisa desaparecer, quando se faz transição entre viewports*/
@media (min-width: 656px) AND (max-width: 920px) {
    
    .div {
        padding-top: 130px;
    }
}