@media (max-width: 500px) {
    .background {
        width: 100vw;
        background-color: #1e1e2e;

        overflow: hidden;
    }

    .div {
        width: auto;
        height: calc(100vh - 92px);
        overflow-y: scroll;
    }
}

@media (min-width: 501px) {
    .background {
        width: 100vw;
        
        padding: 7px;
        background-color: #1e1e2e;

        overflow: hidden;
    }

    .div {
        width: auto;
        height: calc(100vh - 92px); /*calc(100vh - Navbar Height)*/
        overflow-y: scroll;
    }
}