.div { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fd5d93;
    background-color: #27293d;
}

.a_h1 {
    text-decoration: none;
    text-decoration-line: none;
}

.h1 {
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    background-color: #000;
    font-size: 3.2rem;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    color: #FFF;
}

.h1:active {
    background-color: #fd5d93;
}

.ul {
    display: flex;
    flex-wrap: wrap;
}

.li {
    list-style: none;
    font-family: "Share Tech Mono", sans-serif;
    color: #FFF;
}

.a {
    text-decoration: none;
    text-decoration-line: none;
}

.discord {
    color: #1f8ef1;
}

.taverna {
    color: #00d6b4;
}

/*Mobile*/
@media (max-width: 500px) {
    
    .div {      
        position: fixed;
        top: 0;
        width: calc(100% - 5px);
    }
    
    .h1 {
        margin: 20px;
        padding: 6px;
    }

    .label {
        width: fit-content;
        height: fit-content;
        margin: 20px;
    }
    
    .i {
        width: fit-content;
        height: fit-content;
        font-size: 48px;
        color: #FFF;
    }

    .ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .listaDesativada {
        display: none;
    }

    .li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        font-size: 24px;
    }

    .li:active {
        background-color: #1e1f2f;
    }

    .a {
        width: 100%;
    }
}


/*Browser*/
@media (min-width: 501px) {

    .backGroundFalso {
        position: fixed;
        top: 0;
        width: calc(100% - 7px);
        padding: 7px;
        padding-bottom: 0;
        padding-right: 0;
        background-color: #1e1e2e;
    }
    
    .div {
        gap: 32px;
        width: 100%;
        padding: 15px;
    }

    .h1 {
        padding: 6px;
        margin-left: 7%;
    }

    .label {
        display: none;
    }

    .ul {
        margin-right: 7%;
    }

    .li {        
        height: 100%;
        font-size: 16px;        
    }
    
    a:hover > .li {        
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-thickness: 2px;
    }
    
    .a {
        height: max-content;
        padding: 9px 9px;
        cursor: pointer;
    }
}
