@media (max-width: 500px) {

    .footer {
        padding: 24px 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        color: white;
        font-size: 3rem;
        border-top: 2px solid #fd5d93;
    }

    .p {
        text-align: center;
        padding: 0 10px;
        font-size: 1.6rem;
        font-family: "Arial", sans-serif;
    }

    .div {
        width: fit-content;
    }

    .div:first-child {
        margin-bottom: 16px;
    }

    .a {
        color: white;
    }

    .iTexto {
        font-weight: bold;
        color: white;
    }

    .red {
        font-weight: 900;
        color: red;
    }
}

@media (min-width: 501px) {

    .fakeBackground {
        width: 100%;
        padding: 7px;
        padding-top: 0;
        padding-right: 0;

        background-color: #1e1e2e;
    }

    .footer {
        padding: 24px 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        color: white;
        font-size: 3rem;
        border-top: 2px solid #fd5d93;
        background-color: #27293d;
    }

    .p {
        text-align: center;
        padding: 0 10px;
        font-size: 1.6rem;
        font-family: "Arial", sans-serif;
    }

    .div {
        width: fit-content;
    }

    .div:first-child {
        margin-bottom: 16px;
    }

    .a {
        color: white;;
    }

    .iTexto  {
        font-weight: bold;
        color: white;
    }

    .red {
        font-weight: 900;
        color: red;
    }
}